 .bar.positive{
    fill: #00e600 ; 
  }

  .bar.negative{
    fill: #ff1a1a;
  }

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
